.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1567609562303-974f34396acb);
}

.form {
  border-left: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 100vh;
  max-width: rem(650px);
  padding: rem(80px);
  margin-left: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    padding-inline: rem(20px);
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
